@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=PT+Serif&display=swap');

h1  {
    text-align: center;
    font-family:'PT Serif', sans-serif;
    padding: 1rem; 
}

body  {
    font-family:'PT Sans', serif;
    background-color: #B3735A;
    text-align: center;
}

table { 
    border: 1px solid black;
    border-collapse: collapse;
    width: 90%;
    margin: auto;
}

td {
    border: 1px solid black;
    padding: 0.3 rem;
    height: 30px;
    font-family: 'PT Sans', sans-serif;
    width: 40%;
}

th  {
    border: 1px solid black;
    text-align: center;
    padding: 0.5rem;
    background-color: #c2c1af ;
    font-family: 'PT Serif', serif;
}


tr:nth-of-type(even) {
    background-color: #f1e9d6;
}

tr:nth-of-type(odd) {
    background-color: #f5f3eb;
}

button {
    padding: 3px 6px
}


