@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=PT+Serif&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 60px;
    background-color: #DED6C5;
    font-family: 'PT Serif', sans-serif;
    font-weight: bolder;
}

.logo  {
    color:#B3735A;
    font-size:21px;
}

#nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 45%;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 13px;
}

.logout {
    text-transform: uppercase;
    font-size: 13px;
    font-family: 'PT Serif', sans-serif;
    background-color: #B3735A;
    border-radius: 2rem;
    padding:5px 10px 5px 10px;
}

#link {
    text-transform: uppercase;
    border-radius: 2rem;
    font-family: 'PT Serif', sans-serif;
    padding:5px 10px 5px 10px;
    text-decoration: none;
    color:#B3735A;
    cursor:pointer;
    border: none;
    background-color: #DED6C5;
    margin: 2px;
}

.logout:hover {
    background-color: white;
    color: #B3735A;
    cursor:pointer;
}

#link:hover {
    color:white;
    border-color: #B3735A;
    background-color: #B3735A;
}

